
h2,h3,h5,ul,p, .nav-link .d-none{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  h1 {
    font-family: "dancing script", cursive;
    font-weight: 100px;
    font-size: 45px;
  }
  h2 {
    font: weight 50px;
    font-size: 40px;
    margin: 0 auto;
    color: white;
  }
h3 {
  font-size: 20px;
  color: white;
  /* text-align: right; */
  }
ul {
  /* text-align: right; */
  color: white;
  list-style-type: none;
  padding: 0 0 0 2px;
}
p {
  color: white;
}
footer{
  font-family: "dancing script", cursive;
  color:grey;
}
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #4d4c4c, grey, #daf5ff);
  color: white; 
}
.navbar{
    background-color: grey;
}
.nav-link {
  font-size: larger;
}
.container-fluid {
  background-color:grey;
  margin-top: 20px; 
}
.gmap_canvas {
overflow: hidden;
} 
li {
 color: #4d4c4c;
}
#statement {
 color: #4d4c4c;
  margin: 20px auto; 
  /* height: 200px;
  width: 500px; */
  padding: 0 auto;
}
#quote {
 font-size: 1rem;
 color: #4d4c4c;
}
#time {
  font-size: .75rem;
  color: grey;
}
#mission {
  margin-top: 50px;
}
#artists, #mission{
  font-family: "dancing script", cursive;
  font-size: 30px;
}
.d-none, #mission, .service {
  color:grey;
}
#techs{
  color: #4d4c4c;
  font-family: "dancing script", cursive;
  font-size: 30px;
  text-align: center;
}


