
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #4d4c4c, grey, #daf5ff);
  color: white; 
}
h1,h2,h3,h5,ul,p, .nav-link {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  h1 {
    font-family: "dancing script", cursive;
    font-weight: 100px;
    font-size: 45px;
  }
  h2 {
    font: weight 50px;
    font-size: 40px;
    margin: 0 auto;
    color: white;
  }
h3 {
  font-size: 20px;
  color: white;
  /* text-align: right; */
  }
ul {
  /* text-align: right; */
  color: white;
  list-style-type: none;
  padding: 0 0 0 2px;
}

.navbar {
    background-color: grey;
}
.nav-link {
  font-size: larger;
}
.container-fluid {
  background-color:grey;
  margin-top: 100px; 

}
.gmap_canvas {
overflow: hidden;
} 
p, #mission #miss {
  color: white;
}
#miss {
 background-color:#4d4c4c;
  margin: 100px auto; 
  height: 300px;
  width: 500px;
}
#mission {
  margin-top: 50px;
}
#artists, #mission {
  font-family: "dancing script", cursive;
  font-size: 30px;
}